.all__message {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &__title {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    color: white;
    gap: 7px;
    i:first-child {
      font-size: 12px;
    }
    i:last-child {
      flex-grow: 1;
      text-align: right;
      font-size: 18px;
    }
  }
  &__main {
      overflow-y: scroll;
      height: 315px;
      &::-webkit-scrollbar{
          display: none;
      }
      background-color: transparent;
    .all__message__item{
      display: flex;
      border-radius: 15px;
      cursor: pointer;
      display: flex;
      // gap: 10px;
      align-items: flex-start;
      border-bottom: 1px solid $dark-light;
      padding: 10px;
      margin-bottom: 10px;
      transition: 0.2s;
      img {
        @include avatar(35px);
      }
      .notify__name__info {
        p:first-child {
          margin-bottom: 10px;
        }
        p:last-child {
        }
      }
      .message__item__avatar {
        position: relative;
        margin-right: 10px;

        .icon--active {
          @include avatar(8px);
          background-color: greenyellow;
          border: 2px solid $dark;
          position: absolute;
          bottom: 0px;
          right: 0px;
        }
      }
      .message__item__time {
        color: white;
        font-size: 12px;
        flex-grow: 1;
        text-align: right;
        align-self: flex-start;
      }
      .message__item__content {
        max-width: 100%;
        width: 100%; // chiều rộng bằng khối bao nó
        white-space: pre-wrap;
        overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
        text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
        -webkit-line-clamp: 1; // số dòng muốn hiển thị
        -webkit-box-orient: vertical;
        display: -webkit-box;
        color: rgb(199, 199, 199);
        &--active {
          color: white;
        }
      }
      &:hover, &--active{
        // background-color: $dark-brown;
        background: linear-gradient(to bottom, $dark-gray-light 40%, rgb(20, 20, 20));
      }
    }
    @keyframes loading {
      0%{
        background-position-x: 0%;
        opacity: 0;
      }
      50%{
        background-position-x: 50%;
        opacity: 1;
        
      }
      100%{
        background-position-x: 0%;
        opacity: 0;
      }
    }
    .all__message__item--layer{
      border-radius: 15px;
      background: linear-gradient(-90deg,rgb(26, 26, 26)20%,rgb(39, 39, 39) 50%,rgb(15, 15, 15));
      animation: loading 2s infinite;
      background-size: 200%;
      height: 60px;
      margin-bottom: 10px;
    }
    
  }
}

@media screen and (max-width: 480px) {
  .all__message{

    .all__message__item{
      display: flex;
      height: fit-content;
      padding: 15px;
      margin-bottom: 10px;
      img {
        @include avatar(45px);
      }
      .notify__name__info {
        flex-grow: 1;
        p:first-child {
          margin-bottom: 10px;
        }
        p:last-child {
        }
      }
      .message__item__time {
        font-size: 14px;
        max-width: 60px;
      }
      .message__item__content {

        &--active {
          color: white;
        }
      }
    }
  }
  .message{
    font-size: 15px;
  }
  .search__frame{
    height: 45px;
    input{
      font-size: 15px;
    }
  }
  .all__message__item--layer{
    height: 80px!important;
  }
}
@media screen and(max-width: 767px) {
  .all__message{
    &__main{
      height: 430px!important;
    }
  }
}