.message__item {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 7px;
  cursor: pointer;
  height: fit-content;
  transition: 0.2s;

  &__attach,
  #media__attach {
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    max-width: 200px;
    // background-color: $blue;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    img,video {
      width: 100%;
    }
    
  }
  .attach--2 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .attach--3 {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .message__item__avatar {
    img {
      @include avatar(16px);
    }
  }
  &__avatar {
    align-self: flex-end;
    i {
      font-size: 15px;
      color: rgb(218, 218, 218);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    p {
      width: fit-content;
      padding: 8px 10px;
      background-color: $dark-gray-light;
      border-radius: 15px;
      color: white;
      max-width: 300px;
      line-height: 1.3;
      overflow: hidden;
    }
    .message__item__features {
      display: flex;
      align-items: center;
    }
  }
  &__more {
    color: rgb(199, 199, 199);
    opacity: 0;
    transition: 0.3s;
    font-size: 16px;
    position: relative;
    &__icons {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 6.5px;
      // i:hover {
      //   color: rgb(240, 240, 240);
      // }

      .message__item__delete {
        position: absolute;
        background-color: $dark-gray;
        padding: 5px;
        left: 0;
        bottom: 45px;
        @include flex();
        gap: 10px;
        border-radius: 3px;
        transition: 0.2s;
        span {
          font-size: 10px;
          line-height: none;
          color: rgb(192, 192, 192);
          &:hover {
            color: white;
          }
        }
        opacity: 0;
        visibility: hidden;
      }
      .delete__recall:hover .message__item__delete {
        opacity: 1;
        visibility: visible;
      }
    }
    &__time {
      font-size: 12px;
      text-align: center;
    }
  }
  &--client {
    flex-direction: row-reverse;

    .message__item__content {
      align-items: flex-end;
      p {
        background-color: $blue;
      }
    }
  }
}
.recall__client {
  .message__recall {
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    border: 1px solid $dark-gray-light;
    background-color: $dark-gray;
    color: white;
    font-style: italic;
    font-weight: 200;
    font-size: 13px;
  }
}
.message--client {
  flex-direction: row-reverse;
}

.message__item:hover .message__item__more {
  opacity: 1;
}
.message__item:hover .message__item__client {
  opacity: 1;
}
.chat__greetings {
  color: white;
  @include flex();
}

.space__time {
  padding: 50px 0;
  p {
    text-align: center;
    font-size: 13px;
    color: rgb(167, 167, 167);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
.empty__space {
  padding: 10px 0;
  // background-color: blue;
}
@media screen and (max-width: 480px) {
  .message__item {
    gap: 5px;
    margin-bottom: 10px;
    &__more {
      margin-right: 5px;
    }
    &__attach {
      width: 150px;
      max-width: 150px;
    }
  }
}
