.chat__screen{
    flex-grow: 1;
    overflow-y: scroll;
    transition: 0.4s;
    &__main{
        padding: 15px 10px;
        height: fit-content;
        transition: 0.5s;
        // height: 600px;
        // background-color: rgb(24, 24, 24);
    }
  
    &::-webkit-scrollbar{
        width: 7px;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb{
        width: 7px;
        background-color: #1f1f1f;
        border-radius: 15px;
    }
}
@media screen and (max-width:768px) {
    
}
@media screen and (max-width:587px) {
    .chat__screen{
        &__main{
            padding: 10px 0;
        }
    }
    .chat__screen::-webkit-scrollbar{
        width: 0px;
    }
}
@media screen and (max-width:480px) {
    .chat__screen{
        font-size: 14.5px;
    }
}