.header__chat{
    width: 100%;
    min-height: 50px;
    background-color: black;
    border-bottom: 1px solid $dark-brown;
    display: flex;
    align-items: center;
    color: $dark-gray-light;

    .header__name__group{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 25%;
        font-weight: bold;
        
        span:first-child{
            color: white;
        }
    }
    .header__options{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        i{
            font-size: 20px;
            transition: 0.2s;
            &:hover{
                color: rgb(194, 194, 194);
            }
        }
    }
    .header__avatar{
        flex-grow: 1;
        display: flex;
        justify-content: right;
        align-items: center;
        &__item__personal{
            img{
                @include avatar(35px);
            }
            
        }
        &__item{

            img{
                @include avatar(25px);
            }
            
        }
        &__item__number{
            @include avatar(25px);
            @include flex();
            background-color: $blue;
            color: white;
        }

    }

}
@media screen and (max-width:768px) {
    
}
@media screen and (max-width:587px) {
    .header__chat{
        font-size: 17px;
        .header__name__group{
            flex-grow: 1;
        }
        .header__options{
            width: fit-content;
            &__file{
                display: none;
            }
        }
        .header__avatar{
            max-width: 35px;
            margin-left: 40px;
        }
    }
}