@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin avatar($size: 0px){
    width: $size;
    height: $size;
    border-radius: 50%;
}