.screen {
  width: 100%;
  height: 100vh;
  background-color: rgb(1, 0, 44);
  @include flex(row, center, center, 0);
}
.wrapper {
  width: 80%;
  background-color: #000000;
  height: 90%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  position: relative;
  .layer-app{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #000000e8;
    transform: scale(0);
    transition: .1s;
    display: none;
  }
  .layer-display{
    transform: scale(1);
    display: block;

  }
  .main__screen{
    width: 100%;
    height: 100%;
    display: flex;
  }
}
